* {
    box-sizing: border-box;
  }
  
  body {
    background: #eee;
  }
  
  #perc-wrapper {
    display: block;
    width: 100%;
  }
  #perc-wrapper .perc {
    display: inline-block;
    min-height: 15px;
  }
  i {
      color: rgb(0, 0, 0);
  }